<div class="container">
  <div class="jumbotron jumboPadding">
    <div class="row">
      <div class="col-md-4">
        <p>
          Search for a product:
        </p>
      </div>
      <div class="col-md-4">
        <input type="text" ng-model="vm.searchTerm" />
        <div class="alert alert-danger marginTop" ng-show="vm.productDoesntExist">
          Non-existing product or added already!
        </div>
      </div>
      <div class="col-md-4">
        <button ng-click="vm.search()" class="btn btn-primary">Search</button>
      </div>
    </div>

    <hr />

    <div class="row bold" ng-show="vm.selectedProducts.length != 0">
      <div class="col-md-3">
        Name &amp; price:
      </div>
      <div class="col-md-3">
        Amount:
      </div>
      <div class="col-md-3">
        Total:
      </div>
      <div class="col-md-3">
        Remove:
      </div>
    </div>

    <div class="row marginTop" ng-repeat="product in vm.selectedProducts">
      <div class="col-md-3">
        {{ product.name + " : "}} {{ product.price | currency : "€" }}
      </div>
      <div class="col-md-3">
        <input class="centerInputText" type="number" ng-model="product.quantity" ng-change="vm.changeQty(product, product.quantity)" />
      </div>
      <div class="col-md-3">
        {{ product.quantity * product.price | currency : "€" }}
      </div>
      <div class="col-md-3">
        <button ng-click="vm.remove(product)" class="btn btn-danger">Remove</button>
      </div>
    </div>

    <div class="row" ng-show="vm.selectedProducts.length != 0">
      <div class="col-md-3 offset-md-6">
        <strong>Subtotal:</strong> {{ vm.subtotal | currency : "€" }}
      </div>
    </div>

    <div class="alert alert-info marginTop">
      Products currently limited to Product 1, Product 2 and Product 3!
    </div>
  </div>
</div>
